<!-- EL pipe '| async' se suscribe automáticamente a movieData$ -->
<!-- 'as data' guarda el resultado en una variable local llamada 'data' -->
@if (movieData$ | async; as data) {
  <div class="details-container">

    <!-- Para acceder a los detalles usamos data.details -->
    <h1 class="movie-title">{{ data.details.title }}</h1>

    <!-- Mostrar Géneros -->
    <div class="genres">
      @for (genre of data.details.genres; track genre.id) {
        <span class="genre-tag">{{ genre.name }}</span>
      }
    </div>

    <!-- Mostrar Elenco usando data.credits -->
    <section class="movie-cast">
      <h2>Elenco Principal</h2>
      <div class="cast-track">
        <!-- El pipe slice:0:15 recorta la lista a los primeros 15 actores -->
        @for (actor of data.credits.cast | slice:0:15; track actor.id) {
          <app-cast-card [actor]="actor"></app-cast-card>
        }
      </div>
    </section>

  </div>
} @else {
  <div class="loading-state">Cargando detalles increíbles...</div>
}